@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

/* Import Poppins font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

/* Apply Poppins font to body */
body {
  font-family: 'Poppins', sans-serif;
}
